##############Library##############
# Our environment
# There is no need to set up like our environment.
# But transformers version has to be high. Because, we used the GLP-depth model.
pandas == 1.4.1
Numpy == 1.22.3
opencv-python == 4.5.4.58
torch == 1.9.1+cu111
transformers == 4.17.0
xgboost == 1.6.1
scipy == 1.8.0
scikit-learn == 1.0.2

